<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos de Marvel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of newsList">
    <ion-card >
      <img 
      [src]="item.thumbnail.path+'.'+item.thumbnail.extension" 
      alt=""
      />
      <ion-card-header>
        <ion-card-header id="titulo">{{item.title}}</ion-card-header>
        
      </ion-card-header>
      <ion-card-content>{{item.description}}
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
