#titulo{
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(17, 0, 255);
}
ion-card-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
ion-card{
 background-color: black;
 border: rgb(255, 251, 0) 5px double;
 color: white;
}